/*******************************************************************************************************
    CSS GENERAL
*****************************************************************************************************/
/* DEFINICION DE LAS FUENTES TIPOGRÁFICAS
*****************************************/
@font-face {
    font-family: 'myriad_pro_bold';
    src: url('myriad-pro/MyriadPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_pro_light_it';
    src: url('myriad-pro/MyriadPro-LightIt.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_pro_regular';
    src: url('myriad-pro/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'myriad_pro_regular';
  background-color: #fff;
}
a,
.btn-link,
.page-link {
  color: #fff;
  outline: none;
  text-decoration: none;
  box-shadow: none;
}
a:hover,
.btn-link:active,
.btn-link:visited,
.btn-link:hover,
.page-link:hover {
  text-decoration: none;
  box-shadow: none;
}

h1,
h6,
.fuente_myriad_pro_bold {
  font-family: 'myriad_pro_bold';
}
.fuente_myriad_pro_light_it {
  font-family: 'myriad_pro_light_it';
}
.fuente_myriad_pro_regular {
  font-family: 'myriad_pro_regular';
}

.fondo_rojo {
  background-color: #ec1d25;
}
.fondo_verde {
  background-color: #7fcb9a;
}
.fondo_verde_claro {
  background-color: #dbdbdb;
}
.fondo_verde_muy_claro {
  background-color: #33d6b7;
}
.fondo_gris_oscuro {
  background-color: #434343;
}
.fondo_gris_claro {
  background-color: #bebebe;
}
.fondo_gris_muy_claro {
  background-color: #efefef;
}
.table-group-divider {
  color: #ee1c25;
}
.fuente_rojo {
  color: #ee1c25;
}
.fuente_azul {
  color: #10525b;
}
.fuente_gris {
  color: #7a7a7a;
}
.fuente_gris_claro {
  color: #bebebe;
}
.fuente_gris_oscuro {
  color: #434343;
}
.fuente_card {
  color: #4d4b4c;
}

.sin_cursor {
  cursor: not-allowed;
}

.size_06 {
  font-size: .6rem;
}
.size_07 {
  font-size: .7rem;
}
.size_08 {
  font-size: .8rem;
}
.size_09 {
  font-size: .9rem;
}
.size_10 {
  font-size: 1rem;
}
.size_12 {
  font-size: 1.2rem;
}
.size_14 {
  font-size: 1.4rem;
}
.size_16 {
  font-size: 1.6rem;
}
.size_18 {
  font-size: 1.8rem;
}

/* Dispositivos Extra Pequeños (teléfono vertical (portrait), less than 576px) */
@media (max-width: 575.98px) {
  
}

/* Pequeños Dispositivos (teléfono apaisado (landscape), 576px y arriba) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Dispositivos Medianos (tablets, 768px y arriba) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Dispositivos Grandes (desktops, 992px y arriba) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Dispositivos Extra Grandes (large desktops, 1200px y arriba) */
@media (min-width: 1200px) {
  
}